In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [5]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,...,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,...,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,...,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),...,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,200412582,09/09/2020 12:00:00 AM,09/09/2020 12:00:00 AM,630,4,Hollenbeck,413,1,510,VEHICLE - STOLEN,...,IC,Invest Cont,510.0,NaN,NaN,NaN,200 E AVENUE 28,NaN,34.0820,-118.2130

In [6]:
df.shape

(1004681, 28)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004681 entries, 0 to 1004680
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004681 non-null  int64
 1   Date Rptd       1004681 non-null  object
 2   DATE OCC        1004681 non-null  object
 3   TIME OCC        1004681 non-null  int64
 4   AREA            1004681 non-null  int64
 5   AREA NAME       1004681 non-null  object
 6   Rpt Dist No     1004681 non-null  int64
 7   Part 1-2        1004681 non-null  int64
 8   Crm Cd          1004681 non-null  int64
 9   Crm Cd Desc     1004681 non-null  object
 10  Mocodes         853090 non-null   object
 11  Vict Age        1004681 non-null  int64
 12  Vict Sex        860075 non-null   object
 13  Vict Descent    860063 non-null   object
 14  Premis Cd       1004665 non-null  float64
 15  Premis Desc     1004093 non-null  object
 16  Weapon Used Cd  327169 non-null   float64
 17  Weapon Desc     327169 non-null   object
 18  Status          1004680 non-null  object
 19  Status Desc     1004681 non-null  object
 20  Crm Cd 1        1004670 non-null  float64
 21  Crm Cd 2        69124 non-null    float64
 22  Crm Cd 3        2315 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004681 non-null  object
 25  Cross Street    154213 non-null   object
 26  LAT             1004681 non-null  float64
 27  LON             1004681 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.6+ MB

In [10]:
nan_por_coluna = df.isna().sum()

In [11]:
nan_por_coluna

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            151591
Vict Age                0
Vict Sex           144606
Vict Descent       144618
Premis Cd              16
Premis Desc           588
Weapon Used Cd     677512
Weapon Desc        677512
Status                  1
Status Desc             0
Crm Cd 1               11
Crm Cd 2           935557
Crm Cd 3          1002366
Crm Cd 4          1004617
LOCATION                0
Cross Street       850468
LAT                     0
LON                     0
dtype: int64

In [8]:
df['AREA NAME'].value_counts()

AREA NAME
Central        69660
77th Street    61744
Pacific        59431
Southwest      57420
Hollywood      52431
N Hollywood    51097
Olympic        50058
Southeast      49925
Newton         49172
Wilshire       48230
Rampart        46823
West LA        45721
Northeast      42943
Van Nuys       42872
West Valley    42133
Devonshire     41740
Harbor         41378
Topanga        41363
Mission        40339
Hollenbeck     37074
Foothill       33127
Name: count, dtype: int64

In [9]:
list(df.columns)

['DR_NO',
 'Date Rptd',
 'DATE OCC',
 'TIME OCC',
 'AREA',
 'AREA NAME',
 'Rpt Dist No',
 'Part 1-2',
 'Crm Cd',
 'Crm Cd Desc',
 'Mocodes',
 'Vict Age',
 'Vict Sex',
 'Vict Descent',
 'Premis Cd',
 'Premis Desc',
 'Weapon Used Cd',
 'Weapon Desc',
 'Status',
 'Status Desc',
 'Crm Cd 1',
 'Crm Cd 2',
 'Crm Cd 3',
 'Crm Cd 4',
 'LOCATION',
 'Cross Street',
 'LAT',
 'LON']